body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__container {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #9db1a5), to(#849d8f));
  background: -webkit-linear-gradient(top, #9db1a5 30%, #849d8f 100%);
  background: -o-linear-gradient(top, #9db1a5 30%, #849d8f 100%);
  background: linear-gradient(to bottom, #9db1a5 30%, #849d8f 100%);
}

.page__center {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-title {
  padding-top: 2px;
  margin-bottom: 26px;
}

.main-title__title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs__link,
.reference__link,
.copyright__link {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.reference__link:hover,
.reference__link:focus,
.copyright__link:hover,
.copyright__link:focus {
  color: #ffbc9e;
  border-bottom: 0.5px solid rgba(255, 188, 158, 0.3);
}

.link--black {
  border-bottom: 0.5px solid #323232;
}

.link--black:hover,
.link--black:focus {
  color: #e84d37;
  border-bottom: 0.5px solid rgba(255, 188, 158, 0.3);
}

.button {
  display: inline-block;
  padding: 12px 22px;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border-style: none;
}

.button:focus,
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px #ac1000;
          box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px #ac1000;
          box-shadow: inset 0 2px 2px #ac1000;
}

.button--big {
  padding: 10px 41px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
}

.button--hide {
  position: absolute;
  bottom: -54px;
  left: 34px;
  z-index: 2;
  display: none;
  padding: 11px 18px;
}

.button--white {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 8px 30px;
  font: inherit;
  color: inherit;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
}

.button--white:hover,
.button--white:focus {
  color: #323232;
  background-color: #ffffff;
}

.button--white:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.header__logo {
  width: 164px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.navigation li {
  list-style: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.menu__item {
  margin-right: 2px;
  position: relative;
  padding: 7px 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover:not(.menu__item--current) .menu__link,
.menu__item:hover .submenu {
  display: block;
  color: #323232;
  background-color: #f7f6f3;
}

.menu__item--current .menu__link {
  border-bottom: none;
  background-color: #d07058;
  border-radius: 25px;
}

.menu__item--current .menu__link::after {
  content: none;
}

.menu__link {
  display: inline-block;
  padding: 7px 13px;
  vertical-align: top;
  border-radius: 25px;
}

.menu__link:active[href] {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.menu__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu__link:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.submenu {
  position: absolute;
  top: 43px;
  left: -6px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 5px 0;
  width: 143px;
  min-height: 171px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu__item:nth-child(1) {
  padding-bottom: 8px;
  position: relative;
  font-weight: 700;
}

.submenu__item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 34px;
  right: 7px;
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

.submenu__link {
  display: block;
  padding: 7px 20px;
}

.submenu__link:hover[href] {
  background-color: #fbded7;
}

.submenu__link:active[href] {
  background-color: #f6b5a5;
}

.submenu__link--current {
  color: #ffffff;
  background-color: #d07058;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 260px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-menu__item {
  position: relative;
  padding: 7px 0;
}

.user-menu__item:hover .user-menu__link {
  color: #323232;
  background-color: #f8f7f4;
}

.user-menu__item:hover .search,
.user-menu__item:hover .entrance,
.user-menu__item:hover .cart {
  display: block;
}

.user-menu__item:hover .outline-fill {
  fill: #343434;
}

.user-menu__item--full .user-menu__link--cart {
  padding-right: 15px;
  color: #323232;
  background-color: #ffffff;
}

.user-menu__item--full .inner-fill {
  fill: #E84D37;
  fill-opacity: 1;
}

.user-menu__item--full .outline-fill {
  fill: #343434;
}

.user-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 13px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-menu__link:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.user-menu__link:focus .outline-fill {
  fill: #323232;
}

.user-menu__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.user-menu__link--search {
  padding: 7px 8px;
}

.user-menu__link--entrance {
  padding-left: 15px;
  padding-right: 16px;
}

.user-menu__link--entrance svg {
  margin-right: 7px;
}

.user-menu__link--cart {
  padding-left: 15px;
  padding-right: 34px;
}

.user-menu__link--cart svg {
  margin-right: 8px;
}

.modal {
  display: none;
  z-index: 2;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal__overlay--on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  z-index: 4;
}

.modal__overlay--on .feedback {
  display: block;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.input {
  font: inherit;
  height: 44px;
  padding: 9px 14px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
}

.input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.input::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.input::placeholder {
  font-weight: 400;
  color: #999999;
}

.input:hover {
  padding: 8px 13px;
  background-color: #ffffff;
  border: 2px solid #9a9a9a;
  outline-style: none;
}

.input:focus {
  padding: 8px 13px;
  border: solid 2px rgba(46, 136, 228, 0.52);
  outline-style: none;
}

.search {
  position: absolute;
  top: 43px;
  right: 0;
  padding: 20px 15px;
}

.search .input {
  width: 311px;
}

.entrance {
  position: absolute;
  top: 43px;
  right: 0;
  padding: 20px 17px 22px 19px;
}

.entrance .input {
  width: 100%;
  margin-bottom: 20px;
}

.entrance .input:last-child {
  margin-bottom: 18px;
}

.entrance__form {
  width: 241px;
}

.entrance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entrance .button {
  margin-right: 20px;
  padding: 10px 25px;
}

.entrance p {
  margin: 0;
  padding: 0;
}

.page__container {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.page__container::before,
.page__container::after {
  content: "";
  visibility: hidden;
}

.page__container::before {
  background-image: url("../img/slider-item2.png");
}

.page__container::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 44px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 18px;
  left: 2px;
  z-index: 1;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .page__container {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .page__container {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .page__container {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .page__container #slide1,
#product-2:checked ~ .page__container #slide2,
#product-3:checked ~ .page__container #slide3 {
  display: block;
}

#product-1:checked ~ .page__container label[for="product-1"],
#product-2:checked ~ .page__container label[for="product-2"],
#product-3:checked ~ .page__container label[for="product-3"] {
  background-color: #ffffff;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-controls label:active {
  background-color: #f8f7f4;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: 2px;
  list-style: none;
}

.breadcrumbs__item:not(:last-child):after {
  content: "»";
  display: inline-block;
  vertical-align: baseline;
  margin: 0px 7px 0px 7px;
}

.breadcrumbs__link {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs__contacts {
  margin: 0;
  width: 170px;
  margin-left: auto;
  text-align: right;
}

.breadcrumbs__contacts span {
  display: block;
}

.breadcrumbs__time {
  font-weight: 700;
  margin-bottom: 5px;
}

.breadcrumbs__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.actions__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 16px 23px 24px 19px;
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
}

.actions__item--raspberries {
  background-color: #3f050b;
  background-image: url("../img/raspberries_bg.jpg");
  background-position: -50px -95px;
  background-repeat: no-repeat;
}

.actions__item--chocolate {
  background-color: #59341c;
  background-image: url("../img/chocolate_bg.jpg");
  background-position: -217px -105px;
  background-repeat: no-repeat;
}

.actions__item--blog {
  padding-top: 24px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/blog_bg.jpg");
  background-repeat: no-repeat;
  background-position: -51px -223px;
}

.actions__item--inner {
  padding: 30px 10px 1px 23px;
  min-height: 211px;
  color: #5a5a5a;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.actions__item--subscribe {
  padding: 5px 5px 5px 5px;
  min-height: 220px;
  background-image: -webkit-repeating-linear-gradient(315deg, #fe9e90 0px, #fe9e90 5px, white 5px, white 10px, #92cdff 10px, #92cdff 15px, white 15px, white 20px);
  background-image: -o-repeating-linear-gradient(315deg, #fe9e90 0px, #fe9e90 5px, white 5px, white 10px, #92cdff 10px, #92cdff 15px, white 15px, white 20px);
  background-image: repeating-linear-gradient(135deg, #fe9e90 0px, #fe9e90 5px, white 5px, white 10px, #92cdff 10px, #92cdff 15px, white 15px, white 20px);
  border-radius: 15px;
}

.actions__item .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  margin-left: auto;
}

.actions__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.actions__title--blog {
  margin: 0;
  margin-bottom: 4px;
  color: #323232;
  font-weight: 500;
}

.actions__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.actions__text--subscribe {
  margin: 0;
  min-height: 100px;
}

.actions__text--blog {
  margin: 0;
  width: 290px;
}

.actions__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.actions__link:hover {
  color: #e84d37;
}

.actions__send {
  margin-right: 4px;
  width: 71%;
}

.catalog--hits .catalog__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 3;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__image-wrapper {
  position: relative;
}

.catalog__wrapper:hover .button--hide {
  display: block;
}

.catalog__wrapper:hover .catalog__image-wrapper {
  z-index: 2;
}

.catalog__wrapper:hover::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 50%;
  margin-left: -146px;
  display: block;
  width: 292px;
  height: 403px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog__item {
  position: relative;
  width: 267px;
  margin-bottom: 38px;
  text-align: center;
}

.catalog__image-wrapper {
  margin-bottom: 13px;
}

.catalog__image {
  border-radius: 50%;
}

.catalog__price {
  position: absolute;
  top: 209px;
  z-index: 2;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog__cost {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin-right: 0px;
}

.catalog__cost::after {
  content: "";
  display: inline-block;
  width: 31px;
  height: 36px;
  margin-left: 2px;
  margin-bottom: 5px;
  vertical-align: middle;
  background-image: url("../img/ruble.svg");
}

.catalog__name {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

.catatlog__weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.description {
  margin-bottom: 40px;
}

.description__wrapper {
  padding: 26px 20px 0px;
  width: 1146px;
  min-height: 306px;
  background-color: #ede2ca;
  background-image: url("../img/frame.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.description__title {
  display: block;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #323232;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.description__item {
  position: relative;
  padding-top: 1px;
  padding-left: 56px;
  margin-bottom: 22px;
  color: #323232;
}

.description__item:nth-child(even) {
  width: 530px;
}

.description__item:nth-child(odd) {
  width: 540px;
  margin-right: 27px;
}

.description__item:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.description__item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.description__item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.description__item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
}

.description__item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  display: block;
  width: 49px;
  height: 49px;
}

.map {
  /* position: relative; */
  height: 430px;
  background-color: #ebe4c9;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts {
  position: absolute;
  top: 62px;
  right: 28px;
  padding: 27px 26px;
  z-index: 4;
  width: 302px;
  min-height: 305px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts__title {
  margin-bottom: 4px;
  padding-right: 100px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__title:last-child {
  margin-bottom: 25px;
}

.contacts__phone .contacts__title:first-child,
.contacts__phone .contacts__title:last-child {
  padding-right: 0;
}

.contacts .button {
  width: 100%;
}

.contacts__text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 20px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  padding: 0;
  margin: 0;
  margin-top: 11px;
  list-style: none;
}

.social__item {
  margin-right: 11px;
}

.social__link {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.social__link--tw {
  background-image: url("../img/twitter.svg");
}

.social__link--inst {
  background-image: url("../img/fb.svg");
}

.social__link--fb {
  background-image: url("../img/instagram.svg");
}

.social__link--vk {
  background-image: url("../img/vk.svg");
}

.social__link:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}

.social__link:active {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 2px 0px 1px #888888;
          box-shadow: inset 0 2px 0px 1px #888888;
}

.reference__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 310px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  list-style: none;
}

.reference__item {
  min-width: 142px;
}

.reference__item--current {
  position: relative;
  font-weight: 700;
}

.reference__item--current::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -21px;
  width: 16px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.reference__link {
  font-size: 13px;
  line-height: 18px;
}

.copyright {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 18px;
}

.copyright p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.copyright__image {
  width: 100%;
}

.feedback {
  position: relative;
  top: 50%;
  left: 50%;
  width: 478px;
  height: 443px;
  margin-top: -221.5px;
  margin-left: -239px;
  padding: 17px 25px 19px 23px;
}

.feedback p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.feedback p:last-child {
  text-align: right;
}

.feedback__email,
.feedback__name {
  width: 62%;
}

.feedback__message {
  width: 100%;
  height: 155px;
  resize: none;
}

.feedback__title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.feedback__close {
  position: absolute;
  top: 17px;
  right: 19px;
  width: 17px;
  height: 17px;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.feedback__close::before,
.feedback__close::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback__close::before {
  top: 8px;
  left: 0;
  width: 19px;
  height: 2px;
}

.feedback__close::after {
  top: 0;
  left: 8px;
  width: 2px;
  height: 19px;
}

.feedback .input {
  font-size: 16px;
}

.cart {
  position: absolute;
  top: 43px;
  right: -2px;
  width: 539px;
  min-height: 242px;
  padding: 20px 14px;
}

.cart__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2px;
}

.cart__row td:nth-child(3) {
  width: 227px;
}

.cart__row td:nth-child(4) {
  text-align: right;
}

.cart__row td:nth-child(6) {
  width: 70px;
}

.cart__remove {
  width: 25px;
  padding-top: 4px;
  vertical-align: top;
}

.cart__remove-button {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart__image {
  width: 47px;
  padding-bottom: 20px;
}

.cart__image::after {
  content: "";
  width: 33px;
  height: 33px;
  display: block;
  border-radius: 50%;
}

.cart__row:nth-child(1) .cart__image::after {
  background-image: url("../img/product-small1.jpg");
}

.cart__row:nth-child(2) .cart__image::after {
  background-image: url("../img/product-small2.jpg");
}

.cart__text {
  padding-top: 9px;
  vertical-align: top;
  line-height: 16px;
}

.cart__text--gray {
  color: #a6a6a5;
}

.cart__total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  padding-top: 17px;
  padding-bottom: 9px;
  border-top: 1px solid #cacac7;
}

.cart__button {
  text-align: right;
}

.cart__button .button {
  padding: 12px 17px;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters {
  font-weight: 500;
  margin-bottom: 40px;
}

.filters__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__wrapper:first-child {
  margin-bottom: 15px;
}

.filters li:last-child {
  margin-right: 0;
}

.filters__title {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  padding: 0 16px 5px;
}

.filters .label {
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters .fatiness__list,
.filters .fillers__list {
  margin: 0;
  list-style: none;
}

.filters__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__select-wrapper {
  position: relative;
}

.filters__input--radio + .label::before {
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border-radius: 50%;
}

.filters__input--radio:checked + .label::before {
  background-image: url("../img/radio-on.svg");
}

.filters__input--checkbox + .label::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters__input--checkbox:checked + .label::before {
  width: 23px;
  height: 20px;
  margin-right: 6px;
  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
}

.filters__input + label {
  cursor: pointer;
}

.filters__input + label::before {
  margin-right: 9px;
  opacity: 0.7;
}

.filters__input:not([disabled]):hover + .label::before {
  opacity: 1;
}

.filters__input:focus + .label::before {
  opacity: 1;
}

.filters__input:disabled + .label {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.filters__input:disabled + .label::before {
  border-color: rgba(255, 255, 255, 0.4);
}

.sorting {
  margin-right: 12px;
}

.sorting__list {
  min-width: 196px;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting__list::-ms-expand {
  display: none;
}

.sorting__list--arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 8px;
  height: 10px;
  border-top: 10px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 0;
  pointer-events: none;
}

.sorting__list:hover,
.sorting__list:focus {
  color: #323232;
}

.sorting__list:hover + .sorting__list--arrow,
.sorting__list:focus + .sorting__list--arrow {
  border-top: 10px solid #000;
}

.fatiness__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fatiness__item {
  margin-right: 17px;
}

.fatiness__item .label {
  position: relative;
}

.fillers {
  margin-right: 17px;
}

.fillers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fillers__item {
  position: relative;
  margin-right: 20px;
}

.fillers .label {
  margin-right: 4px;
}

.background-white {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.price {
  margin-right: 15px;
}

.price__controls {
  padding: 0;
  margin: 0;
  position: relative;
  height: 36px;
  padding: 16px 21px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.price__scale {
  height: 4px;
  width: 177px;
  background-color: rgba(248, 247, 244, 0.5);
}

.price__value {
  height: 4px;
  margin-left: 15px;
  width: 115px;
  background-color: #f8f7f4;
}

.price__toggle {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
          box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.price__toggle:hover {
  width: 22px;
  height: 22px;
  border: 9px solid #fff;
}

.price__toggle--min {
  left: 44px;
}

.price__toggle--max {
  left: 142px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  padding: 30px 0;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination__item {
  margin-right: 4px;
}

.pagination__item:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.pagination__item:last-child .pagination__link {
  width: 8px;
  height: 12px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.pagination__link:hover[href]:not(.pagination__link--next) {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link:active[href]:not(.pagination__link--next) {
  color: #323232;
  background-color: #ffffff;
}

.pagination__link--current {
  color: #323232;
  background-color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.pagination__link--next,
.pagination__link--previous {
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
}

.pagination__link--previous {
  margin-right: 10px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.2;
}
